nodered/testflow.txt
[{"id":"24fca80a.a58928","type":"tab","label":"test machine protocol","disabled":false,"info":""},{"id":"eefe0e95.a1edd","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["1d0b6a3c.a763c6"]]},{"id":"6cfd6a0b.ca0144","type":"function","z":"24fca80a.a58928","name":"make test buffer","func":"\nvar len = ((Math.random()*30)>>0)+1;\nlen = 25;\nvar test = new Buffer(len+4);\n\nvar CI = flow.get(\"CI\") || 0;\nCI = ((CI+1)%256);\nflow.set('CI', CI);\n\ntest[0] = 0x02;\ntest[1] = len+2;\ntest[2] = \"T\".charCodeAt(0);\ntest[3] = CI;\n\nvar start = (Math.random()*256)>>0;\n\n// one less, because cmd is included\nfor (i = 0; i < len-1; i++){\n    test[i+4] = (start+i) & 0xff;\n}\n\nvar cs = 0;\nvar i;\nfor (i = 1; i < test.length-1; i++){\n    cs -= test[i];\n}\ntest[i] = cs & 0xff;\n\nvar msgs = flow.get(\"msgs\") || {};\nmsgs[CI] = test;\nflow.set(\"msgs\", msgs);\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["5a6abdbc.7a81e4","ceaf02f0.cab5e"]]},{"id":"5a6abdbc.7a81e4","type":"serial out","z":"24fca80a.a58928","name":"","serial":"8c18b840.27b7c8","x":630,"y":160,"wires":[]},{"id":"467f793b.56bb48","type":"serial in","z":"24fca80a.a58928","name":"","serial":"8c18b840.27b7c8","x":130,"y":240,"wires":[[]]},{"id":"8da3f556.aa4908","type":"function","z":"24fca80a.a58928","name":"checkmsg","func":"\n\n\ncontext.s = context.s || {\n    state: 0,\n    count: 0,\n    CS: 0,\n    curr_msg:{\n        SOM:2,\n        len:0,\n        bytes: new Buffer(256)\n    },\n    CI: 0,\n\n};\n\nvar s = context.s\n\nvar states = {\n    PROTOCOL_STATE_IDLE:0,\n    PROTOCOL_STATE_WAIT_LEN:1,\n    PROTOCOL_STATE_WAIT_END:2,\n};\n\nvar PROTOCOL_SOM = 2;\n\nvar protocol_byte = function( byte ){\n    switch(s.state){\n        case states.PROTOCOL_STATE_IDLE:\n            if (byte == PROTOCOL_SOM){\n                s.curr_msg.SOM = byte;\n                s.state = states.PROTOCOL_STATE_WAIT_LEN;\n                s.CS = 0;\n            } else {\n                //////////////////////////////////////////////////////\n                // if the byte was NOT SOM (02), then treat it as an \n                // ascii protocol byte.  BOTH protocol can co-exist\n                //ascii_byte( byte );\n                //////////////////////////////////////////////////////\n            }\n            break;\n        case states.PROTOCOL_STATE_WAIT_LEN:\n            s.curr_msg.len = byte;\n            s.count = 0;\n            s.CS += byte;\n            s.state = states.PROTOCOL_STATE_WAIT_END;\n            break;\n        case states.PROTOCOL_STATE_WAIT_END:\n            s.curr_msg.bytes[s.count++] = byte;\n            s.CS += byte;\n            s.CS &= 0xff;\n            if (s.count == s.curr_msg.len){\n                if (s.CS !== 0){\n                    node.warn('BAD CS');\n                    var m = [];\n                    m.push(s.curr_msg.SOM);\n                    m.push(s.curr_msg.len);\n                    for (var x = 0; x < s.curr_msg.len; x++){\n                        m.push(s.curr_msg.bytes[x]);\n                    }\n                    m.push(s.CS);\n                    node.warn(m);\n                    var msgs = flow.get(\"msgs\");\n                    //node.warn(msgs);\n                    \n                    if (msgs && msgs[s.curr_msg.bytes[1]]){\n                        node.warn(msgs[s.curr_msg.bytes[1]]);\n                    }\n                } else {\n                    if (s.curr_msg.bytes[0] === 'N'.charCodeAt(0)){\n                        node.warn('NACK');\n                    } else {\n                        var newCI = s.curr_msg.bytes[1];\n                        if (((s.CI +1)%256) != newCI){\n                            node.warn('CI '+ newCI+ ' not as expected:'+sCI);\n                        }\n                        s.CI = newCI;\n                    }\n                    \n                    \n                    \n                    //node.warn('GOOD');\n                }\n                s.state = states.PROTOCOL_STATE_IDLE;\n            }\n            break;\n    }\n};\n\nfor (var i = 0; i < msg.payload.length; i++){\n    protocol_byte(msg.payload[i]);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":240,"wires":[["c75d0d06.26e42"]]},{"id":"c75d0d06.26e42","type":"debug","z":"24fca80a.a58928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":400,"wires":[]},{"id":"5db8b050.55213","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["c3dbcb8e.c63e78"]]},{"id":"c3dbcb8e.c63e78","type":"function","z":"24fca80a.a58928","name":"stop debug and stop poweroff","func":"var out = new Buffer(4);\nout[0] = \"E\".charCodeAt(0);\nout[1] = \"\\n\".charCodeAt(0);\nout[2] = \"P\".charCodeAt(0);\nout[3] = \"\\n\".charCodeAt(0);\n\nmsg.payload = out;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["5a6abdbc.7a81e4"]]},{"id":"ceaf02f0.cab5e","type":"debug","z":"24fca80a.a58928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":260,"wires":[]},{"id":"1d0b6a3c.a763c6","type":"function","z":"24fca80a.a58928","name":"","func":"\nlen = 7;\nvar test = new Buffer([3,84,15,154]);\n\nvar test = new Buffer([3,84,15,128,1,128,0xff,0xff]);\n//var test = new Buffer([84,15,154,84,15,154,84,15,154,84,15,154,84,15,154,84,15,154]);\n\n//var start = 0x3;\n// one less, because cmd is included\n//for (i = 0; i < len; i++){\n//    test[i] = (start+i) & 0xff;\n//}\n\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["5a6abdbc.7a81e4","ceaf02f0.cab5e"]]},{"id":"83e9e619.2b6578","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["6cfd6a0b.ca0144"]]},{"id":"a0664c10.f2ab7","type":"serial out","z":"24fca80a.a58928","name":"","serial":"8c18b840.27b7c8","x":590,"y":680,"wires":[]},{"id":"89dd9bc5.ded088","type":"serial in","z":"24fca80a.a58928","name":"","serial":"8c18b840.27b7c8","x":110,"y":680,"wires":[["b5ece538.f85f38"]]},{"id":"b5ece538.f85f38","type":"function","z":"24fca80a.a58928","name":"checkmsg","func":"//node.warn(msg);\n\nvar s = flow.get('s') || {\n    state: 0,\n    count: 0,\n    CS: 0,\n    curr_msg:{\n        SOM:2,\n        CI:0,\n        len:0,\n        bytes: new Buffer(256)\n    },\n    curr_msg_bytes: null,\n    ascii: '',\n    CI: 0,\n\n};\n\nflow.set('s', s);\n\nvar states = {\n    PROTOCOL_STATE_IDLE:0,\n    PROTOCOL_STATE_WAIT_CI:1,\n    PROTOCOL_STATE_WAIT_LEN:2,\n    PROTOCOL_STATE_WAIT_END:3,\n};\n\n\nvar PROTOCOL_SOM = 2;\n\nvar send_ack = function(CI) {\n    var b = new Buffer(5);\n    b[0] = 2;\n    b[1] = CI;\n    b[2] = 1;\n    b[3] = 'A'.charCodeAt(0);\n    b[4] = (0 - b[1] - b[2] - b[3]) & 0xff;\n    \n    node.send([null, {payload: b}]);\n}\n\n\nvar protocol_byte = function( byte ){\n    //node.warn(byte + \" \"+ s.state);\n    switch(s.state){\n        case states.PROTOCOL_STATE_IDLE:\n            if (byte == PROTOCOL_SOM){\n                s.curr_msg.SOM = byte;\n                s.state = states.PROTOCOL_STATE_WAIT_CI;\n                s.CS = 0;\n            } else {\n                //////////////////////////////////////////////////////\n                // if the byte was NOT SOM (02), then treat it as an \n                // ascii protocol byte.  BOTH protocol can co-exist\n                //ascii_byte( byte );\n                //////////////////////////////////////////////////////\n                if (byte >= 0x20) {\n                    s.ascii += String.fromCharCode(byte);\n                }\n                if (byte == 10) {\n                    if (s.ascii){\n                        node.send([null, null, {payload:s.ascii}]);\n                    }\n                    s.ascii = '';\n                }\n\n                if (byte == 13) {\n                    if (s.ascii){\n                        node.send([null, null, {payload:s.ascii}]);\n                    }\n                    s.ascii = '';\n                }\n                \n            }\n            break;\n        case states.PROTOCOL_STATE_WAIT_CI:\n            s.curr_msg.CI = byte;\n            s.CS += byte;\n            s.state = states.PROTOCOL_STATE_WAIT_LEN;\n            break;\n        case states.PROTOCOL_STATE_WAIT_LEN:\n            s.curr_msg.len = byte;\n            s.curr_msg_bytes = new Buffer(s.curr_msg.len+4);\n            s.curr_msg_bytes[0] = 2;\n            s.curr_msg_bytes[1] = s.curr_msg.CI;\n            s.curr_msg_bytes[2] = s.curr_msg.len;\n            \n            s.count = 0;\n            s.CS += byte;\n            s.state = states.PROTOCOL_STATE_WAIT_END;\n            break;\n        case states.PROTOCOL_STATE_WAIT_END:\n            if (!s.curr_msg_bytes){\n                s.state = states.PROTOCOL_STATE_IDLE;\n                break;\n            }\n            s.curr_msg_bytes[s.count+3] = byte;\n            s.curr_msg.bytes[s.count++] = byte;\n            s.CS += byte;\n            s.CS &= 0xff;\n            if (s.count >= s.curr_msg.len+1){\n                if (s.CS !== 0){\n                    node.warn('BAD CS');\n                    var m = [];\n                    m.push(s.curr_msg.SOM);\n                    m.push(s.curr_msg.CI);\n                    m.push(s.curr_msg.len);\n                    for (var x = 0; x < s.curr_msg.len; x++){\n                        m.push(s.curr_msg.bytes[x]);\n                    }\n                    m.push(s.CS);\n                    node.warn('bad cs'+ util.inspect(m)+\"xxx\"+ util.inspect(s.curr_msg_bytes));\n                    var msgs = flow.get(\"msgs\");\n                    //node.warn(msgs);\n                    \n                    if (msgs && msgs[s.curr_msg.bytes[1]]){\n                        node.warn(\"last msg\", msgs[s.curr_msg.bytes[1]]);\n                    }\n                } else {\n                    switch (s.curr_msg.bytes[0]){\n                        case 'N'.charCodeAt(0):\n                            node.warn('NACK');\n                            break;\n                        case 'A'.charCodeAt(0):\n                            //node.warn('ACK');\n                            break;\n                        default:\n                            node.send({payload: s.curr_msg.bytes.slice(0, s.curr_msg.len)});\n                            send_ack(s.curr_msg.CI);\n                            break;\n                    }\n                    //node.warn(s.curr_msg);\n                }\n                //node.warn(\"set idle\");\n                s.state = states.PROTOCOL_STATE_IDLE;\n            }\n            break;\n    }\n};\n\nfor (var i = 0; i < msg.payload.length; i++){\n    protocol_byte(msg.payload[i]);\n}\n\n//return msg;","outputs":3,"noerr":0,"x":280,"y":680,"wires":[["ca4a3f0f.b73f6"],["a0664c10.f2ab7"],["ed414cc4.9944a"]]},{"id":"88c1ff6a.587d4","type":"debug","z":"24fca80a.a58928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":860,"wires":[]},{"id":"df75bbc4.d20888","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":520,"wires":[["1ca3a897.12ebf7"]]},{"id":"1ca3a897.12ebf7","type":"function","z":"24fca80a.a58928","name":"stop debug and stop poweroff","func":"var out = new Buffer(4);\nout[0] = \"E\".charCodeAt(0);\nout[1] = \"\\n\".charCodeAt(0);\nout[2] = \"P\".charCodeAt(0);\nout[3] = \"\\n\".charCodeAt(0);\n\nmsg.payload = out;\n\nflow.set('s',  null);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":520,"wires":[["a0664c10.f2ab7"]]},{"id":"d734ed68.f9fe9","type":"comment","z":"24fca80a.a58928","name":"newprotocol","info":"","x":130,"y":480,"wires":[]},{"id":"ccee2dd8.cdd91","type":"comment","z":"24fca80a.a58928","name":"oldprotocol","info":"","x":120,"y":60,"wires":[]},{"id":"cca7bf0b.3dfcd","type":"function","z":"24fca80a.a58928","name":"request hall data","func":"\nvar len = 2;\nvar test = new Buffer(len);\n\ntest[0] = \"R\".charCodeAt(0);\ntest[1] = 4;\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":900,"wires":[["c737d147.1e92c"]]},{"id":"ed2dc46b.537a68","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":900,"wires":[["cca7bf0b.3dfcd"]]},{"id":"ca4a3f0f.b73f6","type":"function","z":"24fca80a.a58928","name":"parsecommands","func":"\nvar out = '';\nswitch (msg.payload[0]){\n    case 't'.charCodeAt(0):\n        out = {test:'test return len'+msg.payload.length};\n        break;\n    case 'R'.charCodeAt(0):\n        switch(msg.payload[1]) {\n            case 1:\n                out = {\n                    sensordata:{\n                        Angle:[msg.payload.readInt16LE(2+0),\n                            msg.payload.readInt16LE(2+28+0)],\n                        Roll:[msg.payload.readInt16LE(2+7+0),\n                            msg.payload.readInt16LE(2+28+7+0)],\n                        raw:msg.payload.slice(2),\n                        \n                    }\n                };\n                break;\n            case 4:\n                out = {\n                    hallmm:{\n                        L:msg.payload.readInt32LE(2),\n                        R:msg.payload.readInt32LE(6),\n                        LO:msg.payload.readInt32LE(10),\n                        RO:msg.payload.readInt32LE(14),\n                    }\n                };\n                // reset the offsets\n                msg.payload[0] = 'W'.charCodeAt(0);\n                node.send([null, msg]);\n                break;\n        }\n        break;\n        \n}\n\nif (out) {\n    msg.payload = out;\n    return msg;\n}","outputs":2,"noerr":0,"x":710,"y":640,"wires":[["111c7613.51bcfa"],["c737d147.1e92c"]]},{"id":"c737d147.1e92c","type":"function","z":"24fca80a.a58928","name":"sendmsg","func":"\n\n\nvar len = msg.payload.length;\nvar test = new Buffer(len+4);\n\nvar CI = flow.get(\"CI\") || 0;\nCI = ((CI+1)%256);\nflow.set('CI', CI);\n\ntest[0] = 0x02;\ntest[1] = CI;\ntest[2] = len;\n\n\n// one less, because cmd is included\nvar cs = 0;\n\nvar i;\nfor (i = 1; i < test.length-1; i++){\n    if (i > 2) {\n        test[i] = msg.payload[i-3];\n    }\n    cs -= test[i];\n}\ntest[i] = cs & 0xff;\n\nvar msgs = flow.get(\"msgs\") || {};\nmsgs[CI] = test;\nflow.set(\"msgs\", msgs);\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":800,"wires":[["a0664c10.f2ab7"]]},{"id":"ed414cc4.9944a","type":"debug","z":"24fca80a.a58928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":740,"wires":[]},{"id":"111c7613.51bcfa","type":"function","z":"24fca80a.a58928","name":"combinetovars","func":"\nvar vars = flow.get('vars') || {};\n\nObject.assign(vars, msg.payload);\n\nflow.set('vars', vars);\n\nreturn { payload: vars };","outputs":1,"noerr":0,"x":700,"y":780,"wires":[["8ed66964.0c42b8"]]},{"id":"8035636c.01bd9","type":"template","z":"24fca80a.a58928","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":660,"y":960,"wires":[[]]},{"id":"8ed66964.0c42b8","type":"json","z":"24fca80a.a58928","name":"","property":"payload","action":"","pretty":false,"x":630,"y":860,"wires":[["88c1ff6a.587d4"]]},{"id":"ca9f1906.168cb8","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":940,"wires":[["28177f64.16679"]]},{"id":"28177f64.16679","type":"function","z":"24fca80a.a58928","name":"request sensor data","func":"\nvar len = 2;\nvar test = new Buffer(len);\n\ntest[0] = \"R\".charCodeAt(0);\ntest[1] = 1;\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":940,"wires":[["c737d147.1e92c"]]},{"id":"cfae782a.e2c3e8","type":"function","z":"24fca80a.a58928","name":"make test buffer","func":"\nvar len = ((Math.random()*30)>>0)+1;\nvar test = new Buffer(len);\n\ntest[0] = \"T\".charCodeAt(0);\n\nvar start = (Math.random()*256)>>0;\n\nfor (i = 1; i < len; i++){\n    test[i] = (start+i) & 0xff;\n}\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":980,"wires":[["c737d147.1e92c"]]},{"id":"2e63a04d.17e7e","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":980,"wires":[["cfae782a.e2c3e8"]]},{"id":"a244be30.a24fb","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1040,"wires":[["7364744c.f877cc"]]},{"id":"7364744c.f877cc","type":"function","z":"24fca80a.a58928","name":"clear vars","func":"flow.set('vars', {});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1040,"wires":[[]]},{"id":"8c18b840.27b7c8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"50","bin":"bin","out":"interbyte","addchar":false,"responsetimeout":""}]